<ion-view title="New Task" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="newTask-form1" class="list ">
            <label class="item item-input " id="newTask-input1" name="name">
                <span class="input-label">Task Name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="newTask-textarea1" name="description">
                <span class="input-label">Description</span><textarea placeholder="Task Description"> </textarea>
            </label>
            <a ui-sref="toDoApp" id="newTask-button2" class=" button button-balanced  button-block ">Save</a>
        </form>
    </ion-content>
</ion-view>