<ion-view title="To Do App" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refreshList()">
        </ion-refresher>
        <a ui-sref="newTask" id="toDoApp-button1" class=" button button-balanced  button-block icon ion-ios-plus "></a>
        
        <!-- Read from $scope.tasks -->
        <ion-list id="toDoApp-list1" class="list" ng-repeat="task in $storage.tasks">

            <!-- Display each task information -->
            <ion-item id="{{ task.id }}" class="item item-btn-right">

                <!-- Display task title -->
            	<h2>{{ task.name }}</h2>

                <!-- Display Show Details, Edit and Remove Button -->
            	<div class="button-bar">
            	 	<button class="button button-balanced" ui-sref="taskDetails({id:task.id})">
				      <i class="icon ion-eye"></i>
				    </button>

				    <button class="button button-positive" ui-sref="editTask({id:task.id})">
				      <i class="icon ion-edit"></i>
				    </button>

				    <button class="button button-assertive" ng-click="removeTask(task)">
				      <i class="icon ion-ios-trash"></i>
				    </button>
            	</div>
            </ion-item>
            
        </ion-list>

    </ion-content>
</ion-view>