<ion-view title="To Do App" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <a ui-sref="newTask" id="toDoApp-button1" class=" button button-balanced  button-block icon ion-ios-plus "></a>
        <ion-list id="toDoApp-list1" class=" ">
            <ion-item id="toDoApp-list-item1" ui-sref="editTask" class="  ">Item 1</ion-item>
            <ion-item id="toDoApp-list-item2" ui-sref="editTask" class="  ">Item 2</ion-item>
            <ion-item id="toDoApp-list-item3" ui-sref="editTask" class="  ">Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>